!!! XML
!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml'  }
  %head
    %title JobbR

    = csrf_meta_tags

    = stylesheet_link_tag    'jobbr/application'
    = javascript_include_tag 'jobbr/application'

  %body
    .navbar.navbar-default
      .navbar-header
        %a.navbar-brand= t('.title')
      .collapse.navbar-collapse
        .nav.navbar-nav.navbar-right
          %a.btn.btn-default#auto-refresh{type: 'button', 'data-toggle' => 'button', href: '#'}
            = fa_icon 'refresh'
            = t('.auto_refresh')
    #main.container
      = yield
