%h5= title
.well.logs{class: size}
  - run.ordered_messages.each do |msg|
    %span.date{class: msg.kind}= "[#{msg.created_at.localtime.strftime('%H:%M:%S')}]"
    %span.kind{class: msg.kind}= "[#{msg.kind}]"
    %span.message= raw(msg.message)
    %br
