%ol.breadcrumb
  %li
    = link_to t('jobbr.jobs.index.title'), jobs_path
  %li
    = link_to @job.name.humanize, job_path(@job)
  %li.active
    - if @run.started_at
      = l @run.started_at

  = status_icon(@run.status)

- if @run.run_time
  .well
    = t('.run_time', run_time: ChronicDuration.output(@run.run_time.round(2), format: :long))

= render 'logs', run: @run, title: t('.logs'), size: 'large'
