%ul.breadcrumb
  %li
    = link_to t('jobbr.jobs.index.title'), jobs_path
    %span.divider /
  %li
    = link_to @job.name.humanize, job_path(@job)
    %span.divider /
  %li.active
    = l @run.started_at
    %i{'class' => status_icon_class(@run.status)}

- if @run.run_time
  .well
    = t('.run_time', run_time: ChronicDuration.output(@run.run_time.round(2), format: :long))

= render 'logs', run: @run, title: t('.logs'), size: 'large'
